<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/pass.css">
</head>
<body>
    <!-- <div class="display"> -->
    <div class="main">
        <div class="section1">
        <img src="/public/Screenshot 2025-02-20 115225.png" alt="" id="logo">
        </div>
        <div id="formportal">
            <div class="box">
                <h1>Sign in</h1>
                <div class="rowemail">
                    <span id="email"></span>
                    <a href="" id="change">Change</a>
                </div>
                <div class="section" >
                    <form method="post" id="pass-form">
                        <div class="row1">
                            
                        <label for="password" class="form-label" name="password">
                            Password
                        </label>
                    
                        <div class="column">
                            <a href="/forget">Forgot password?</a>
                        </div>
                    </div>
                        <input type="password" name="password" id="password-input" required>
                        <p style="color:red" id="err-ms"></p>
                        <div class="margine">
                            <button type="submit" id="submitebutton">Sign in</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <footer>
            <div class="section_M">
            <div class="endsecton">
                <hr>
            </div>
            <div class="section_a">
                <ul>
                    <li id="l1"><a href="">Conditions of Use</a></li>
                    <li id="l2"><a href="">Privacy Notice</a></li>
                    <li id="l3"><a href="">Help</a></li>
                </ul>
            </div>
        </div>
        </footer>
    </div>
<!-- </div> -->
 <script src="/public/pass.js"></script>
</body>
</html>